[submodule "libs/programs/CORScanner"]
	path = libs/programs/CORScanner
	url = https://github.com/chenjj/CORScanner
[submodule "libs/programs/Intel-One"]
	path = libs/programs/Intel-One
	url = https://github.com/jkcso/Intel-One.git
[submodule "libs/programs/SSHBrute"]
	path = libs/programs/SSHBrute
	url = https://github.com/ThorD125/SSHBrute.git
[submodule "libs/programs/EagleEye"]
	path = libs/programs/EagleEye
	url = https://github.com/ThoughtfulDev/EagleEye.git
[submodule "libs/programs/xss2png"]
	path = libs/programs/xss2png
	url = https://github.com/vavkamil/xss2png.git
[submodule "libs/wordlists/OneListForAll"]
	path = libs/wordlists/OneListForAll
	url = https://github.com/six2dez/OneListForAll.git
[submodule "libs/wordlists/RobotsDisallowed"]
	path = libs/wordlists/RobotsDisallowed
	url = https://github.com/danielmiessler/RobotsDisallowed.git
[submodule "libs/wordlists/SecLists"]
	path = libs/wordlists/SecLists
	url = https://github.com/danielmiessler/SecLists.git
